git+git://github.com/erikwijmans/etw_pytorch_utils.git@v1.1.1#egg=etw_pytorch_utils
h5py
numpy
torch>=1.0
torchvision
pprint
enum34
future
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
